@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --cor-primaria: #03001b;
  --cor-secundaria: #d8c5ff;
  --cor-terciaria: #8c52ff
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  background: var(--cor-primaria);
}
