<div>
  <form class="form">
      <img src="../../../../assets/images/logo.png" alt="">
        <section class="container-login">
            <h1>Registre-se</h1>
            <p class="pl-4 pr-4">Crie uma conta gratuita.</p>
            <div class="grid flex-column pl-4 pr-4 mb-4">
                <label for="name">Nome</label>
                <input
                    pInputText
                    id="name"
                >
            </div>
            <div class="grid flex-column pl-4 pr-4 mb-4">
                <label for="email">E-mail</label>
                <input
                    pInputText
                    id="email"
                >
            </div>
            <div class="grid flex-column pl-4 pr-4 mb-4">
                <label for="password">Senha</label>
                <input
                    pInputText
                    id="password"
                >
            </div>
            <div class="grid flex-column pl-4 pr-4 mb-4">
              <button
                  pButton
                  class="w-full flex justify-content-center"
              >
                  ENTRAR
              </button>
          </div>
            <p class="text-center pl-4 pr-4 mb-4">Já tem uma conta? <a routerLink="/login" class="link">Fazer login</a></p>
        </section>
    </form>
</div>
